md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
    margin: auto;
}
.md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}
.footer {
    margin: auto;
    padding-bottom: 5px;
}